<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIUS 레기온 놀이터</title>

    <!-- bootswatch cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css"
        integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
    <style>
        .btn-check{
            display:none;
        }
        .figure-img{
            width:100%;
        }
    </style>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="app" class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://aion.plaync.com/legions/server/24/id/2548/home">GENIUS 레기온</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item" v-for="m in menu">
                            <a class="nav-link" :class="{active:m.active}" href="#"
                                @click="selectMenu(m.name)">{{m.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                <div class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">경고</h4>
                    <p class="mb-0">이 시뮬레이션은 인게임과 동일하지 않으므로 재미로만 즐겨주시길 바랍니다.<br>인게임 실험을 통해 점차 확률을 개선시키고 있습니다.</p>
                </div>
            </div>
        </div>

        <div v-show="menu[0].active">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>{{menu[0].name}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-md-1">
                    <h2>아이템 선택</h2>
                </div>
                <div class="col-md-7">
                    <input type="text" v-on:input="typing" v-model="inputItemName" class="form-control" autocomplete="off">
                    <ul v-show="itemFilterList.length > 0">
                        <li v-for="item in itemFilterList" @click="changeSelectedItem(item);">{{item.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-3 offset-1">
                    <figure>
                        <img class="figure-img img-thumbnail" src="./image/item_weapon.png">
                        <figcaption v-if="selectedItem" class="figure-caption text-center">{{selectedItem.name}}</figcaption>
                    </figure>
                </div>
                <div class="col-3">
                    <figure>
                        <img class="figure-img img-thumbnail" src="./image/item_pincer.png">
                        <figcaption class="figure-caption text-center">추출 도구</figcaption>
                    </figure>
                </div>
                <div class="col-1 text-center">
                    <button class="btn btn-warning" @click="startProgress">추출</button>
                </div>
                <div class="col-3">
                    <figure v-if="resultStone">
                        <img class="figure-img img-thumbnail" :src="'./image/item_stone_'+(parseInt(resultStone.level / 20))+'.png'">
                        
                        <figcaption class="figure-caption text-center">
                            {{resultStone.level}}레벨 강화석 ({{resultStone.count}})
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row" v-if="progress">
                <div class="col-10 offset-1">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" :style="{width: progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 class="text-center mt-2">{{progress===100?'추출 완료':'추출 중'}}</h6>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5>추출 계산 공식</h5>
                    <p>
                        아이온 파워북 설명에 기반하며, 실험 데이터가 수집되면 반영할 계획입니다.
                    </p>
                    <h6>강화석 레벨 범위</h6>
                    <ul>
                        <li>영웅 : 다루지 않음</li>
                        <li>유일 : +0 ~ +40 레벨</li>
                        <li>전승 : +0 ~ +20 레벨</li>
                        <li>희귀 : +0 ~ +10 레벨</li>
                        <li>일반 : +0 ~ +5 레벨</li>
                    </ul>

                    <h6>강화석 수량(거래불가 반영 x)</h6>
                    <ul>
                        <li>영웅 : 다루지 않음</li>
                        <li>유일 : 1 ~ 8개</li>
                        <li>전승 : 1 ~ 6개</li>
                        <li>희귀 : 1 ~ 4개</li>
                        <li>일반 : 1 ~ 2개</li>
                    </ul>
                </div>                
            </div>
        </div>

        <div class="row" v-show="menu[1].active">
            <div class="col-md-10">
                <h1>{{menu[1].name}}</h1>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "GENIUS 레기온",
                menu: [{
                        name: "장비 추출",
                        active: true
                    },
                    {
                        name: "장비 강화",
                        active: false
                    },
                ],
                inputItemName:"",
                selectedItem:null,
                itemList:[
                    {name:"몰락한 고대신의 양손검", level:50, grade:"유일", type:"무기", code:""},
                    {name:"몰락한 고대신의 장검", level:50, grade:"유일", type:"무기", code:""},
                    {name:"몰락한 고대신의 판금 갑옷", level:50, grade:"유일", type:"상의", code:""},
                    {name:"몰락한 고대신의 판금 각반", level:50, grade:"유일", type:"하의", code:""},
                    {name:"몰락한 고대신의 판금 견갑", level:50, grade:"유일", type:"어깨", code:""},
                    {name:"몰락한 고대신의 판금 장갑", level:50, grade:"유일", type:"장갑", code:""},
                    {name:"몰락한 고대신의 판금 장화", level:50, grade:"유일", type:"신발", code:""},
                ],
                itemFilterList:[],
                progress:0,
                resultStone:null,
            },
            compute:{
            },
            watch:{
                inputItemName:function(){
                    this.itemChoice = false;
                    this.filterItem();
                },
            },
            methods: {
                selectMenu: function(name) {
                    this.menu.forEach(m => {
                        m.active = m.name === name;
                    });
                },
                filterItem : function(){
                    if(!this.inputItemName){
                        this.itemFilterList = [];
                    }
                    else{
                        this.itemFilterList = this.itemList.filter(item=>item.name.startsWith(this.inputItemName));
                    }
                },
                /* unicode 입력 감지 기능 */
                typing:function(e){
                    this.inputItemName = e.target.value;
                },
                changeSelectedItem:function(item){
                    this.inputItemName = item.name;
                    this.itemFilterList = [];
                    this.selectedItem = item;
                },
                startProgress:function(second){
                    this.progress = 0;
                    this.resultStone = null;
                    
                    var proc = ()=>{
                        this.progress++;
                        if(this.progress < 100){
                            setTimeout(proc, second/100);
                        }
                        else{
                            this.afterProgress();
                        }
                    };
                    
                    setTimeout(proc, 100);
                },
                afterProgress:function(){
                    if(!this.selectedItem) return;

                    this.resultStone = {
                        level: this.generateStoneLevelVersion1(this.selectedItem),
                        count: this.generateStoneQuantityVersion1(this.selectedItem)
                    };
                },

                /* 추출 레벨 결정 */
                generateStoneLevelVersion1:function(item){
                    var levelBoundary = this.getStoneLevelBoundary(item.grade);
                    var level = this.getRandom(item.level, item.level + levelBoundary);
                    return level;
                },
                /* 추출 개수 결정 */
                generateStoneQuantityVersion1:function(item){
                    var countBoundary = this.getStoneCountBoundary(item.grade);
                    var count = this.getRandom(1, countBoundary);
                    return count;
                },

                getStoneLevelBoundary:function(grade){
                    switch(grade){
                        case "유일": return 40;
                        case "전승": return 20;
                        case "희귀": return 10;
                        case "일반": return 5;
                    }
                    return null;
                },
                getStoneCountBoundary:function(grade){
                    switch(grade){
                        case "유일": return 8;
                        case "전승": return 6;
                        case "희귀": return 4;
                        case "일반": return 2;
                    }
                    return null;
                },
                getRandom:function(start, end){
                    var s = Math.min(start, end);
                    var e = Math.max(start, end);
                    var range = e - s + 1;
                    var number = Math.floor(Math.random() * range) + s;
                    return number;
                },
            },
        });
    </script>
</body>

</html>